TWITTER_BEARER_TOKEN=AAAAAAAAAAAAAAAAAAAAAOLG%2BAEAAAAAkeKcm%2BCydcNwHnnrugLKsaK0eWM%3DDTCVMRknekpCLZU9S8uM0nFKPJ9N0kwCV9yK1kMt0gZIKgIDaj
TWITTER_POLITICS_QUERY=(УИХ OR "Засгийн газар" OR Ерөнхийлөгч OR сонгууль OR "улс төр" OR нам OR сайд) -is:retweet -is:reply
